<!DOCTYPE html> 
<html>
  <head>
    <title> WHO AM I? </title>
    <link rel="stylesheet" type="text/css" href="Style.css">
 
  </head>
  <body>
    <h1> <strong> WHO AM I ? </strong> </h1>
    <img src= "Home%20Page%20Image.jpg" alt="" height="150"/>
    <p> <e> Welcome to my website!</e> <p>
    <h5> *All the pictures from this blog is original picture.* </h5>
    <h3><ul>
      <li type="circle">										
        <a href="1.%20Music%20Page.html">
        Music
        </a></li>
      
      <li type="circle">										
        <a href="2.%20Movie%20Page.html">
        Movie
        </a></li>
      
      <li type="circle">										
        <a href="3.%20Color%20Page.html">
        Color
        </a></li>
      
      <li type="circle"> 
        <a href="4.%20Pets%20Page.html">
          Pets
        </a></li>
      
      <li type="circle"> 
        <a href="https://myjournalforintrocs.blogspot.com/">
          Journal
        </a></li>
      </ul> </h3>
  </body>
  </html>
